<section>
    <div class="container">            
        <div class="mobill__block">
            <div class="mobill__img">
                <img src="../../www/img/section-mobile-devices/iPhone-in-hand.png" alt="">
            </div>
            <div class="mobill__text">
                <h3>Excellent for Mobile Devices.</h3>
                <p>
                    Qisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis <br>
                    nisl ut aliquip ex ea commodo consequat. Investigationes demonstraverunt lectores <br>
                    legere me lius quod ii legunt saepius claritas. Eodem modo typi, qui nunc nobis <br>
                    videntur parum clari, fiant sollemnes in futurum.
                </p>
                <ul>
                    <li><i class="fas fa-chevron-circle-right circle__icon-mobill"></i> Nam liber tempor cum soluta nobis eleifend option;</li>
                    <li><i class="fas fa-chevron-circle-right circle__icon-mobill"></i> Nam liber tempor cum soluta nobis eleifend option;</li>
                    <li><i class="fas fa-chevron-circle-right circle__icon-mobill"></i> Eodem modo typi, qui nunc nobis videntur parum futurum;</li>
                    <li><i class="fas fa-chevron-circle-right circle__icon-mobill"></i> Investigationes demonstraverunt lectores</li>
                </ul>
            </div>
        </div>
    </div>
</section>