<section>
    <div class="container">
        <div class="service__block">
            <div class="service__text-box">
                <div class="service__color-hover">
                    <a class="fas fa-pencil-alt service__icon-box"></a>
                    <h3>Web & App Design</h3>                        
                </div>
                <p>
                    Nam liber tempor cum soluta nobis <br>
                    eleifend option congue nihil imperdiet <br>
                    doming id quod mazim.
                </p>
                <span class="service__icon">&#8212;</span>
            </div>
            <div class="service__text-box">
                <div class="service__color-hover">
                    <i class="fas fa-layer-group service__icon-box"></i>
                    <h3>Development</h3>                        
                </div>
                <p>
                    Lorem ipsum dolor sit amet, adipiscing <br>
                    elit, sed diam nonummy nibh euismod <br>
                    tincidunt ut laoreet.
                </p>
                <span class="service__icon">&#8212;</span>
            </div>
            <div class="service__text-box">
                <div class="service__color-hover">
                    <a class="fas fa-cog service__icon-box"></a>
                    <h3>Customization</h3>                        
                </div>                
                <p>
                    Nam liber tempor cum soluta nobis <br>
                    eleifend option congue nihil imperdiet <br>
                    doming id quod mazim.
                </p>
                <span class="service__icon">&#8212;</span>                    
            </div>
            <div class="service__text-box">
                <div class="service__color-hover">
                    <a class="fas fa-box-open service__icon-box"></a>
                    <h3>Marketing</h3>                        
                </div>
                <p>
                    Nam liber tempor cum soluta nobis <br>
                    eleifend option congue nihil imperdiet <br> 
                    doming id quod mazim.
                </p>
                <span class="service__icon">&#8212;</span>
                
            </div>
        </div>
    </div>
</section>