<section>
    <div class="container">
        <div class="posts__slider">
            <h3>Recent Posts.</h3>
            <p>Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam <br>
                processus dynamicus, qui sequitur mutationem consuetudium.</p>
        </div>
        
            <div class="owl-carousel owl-theme posts__item__box slider__two">
                <div class="item post__box">                   
                    <div class="block__post">
                        <div class="post__img">
                            <img src="../../www/img/section-recent-posts/photo_8.png" alt="">
                        </div>
                        <div class="post__data">
                            <p>30</p>
                            <div>Sep.</div>
                        </div>
                        <div class="post__text__box">
                            <h3>Lorem ipsum dolor sit amet</h3>                   
                            <p>Claritas est etiam processus dynamicus, qui <br>
                            sequitur mutationem consuetudium.
                            </p>
                            <a href="">Read More <i class="fas fa-caret-right icon-caret"></i></a>
                        </div>                            
                    </div>
                    <div class="block__post">
                        <div class="post__img">
                            <img src="../../www/img/section-recent-posts/photo9.png" alt="">
                        </div>
                        <div class="post__data">
                            <p>30</p>
                            <div>Sep.</div>
                        </div>
                        <div class="post__text__box">
                            <h3>Lorem ipsum dolor sit amet</h3>                   
                            <p>Claritas est etiam processus dynamicus, qui <br>
                            sequitur mutationem consuetudium.
                            </p>
                            <a href="">Read More <i class="fas fa-caret-right icon-caret"></i></a>
                        </div>
                        
                    </div>
                    <div class="block__post">
                        <div class="post__img">
                            <img src="../../www/img/section-recent-posts/photo10.png" alt="">
                        </div>
                        <div class="post__data">
                            <p>30</p>
                            <div>Sep.</div>
                        </div>
                        <div class="post__text__box">
                            <h3>Lorem ipsum dolor sit amet</h3>                   
                            <p>Claritas est etiam processus dynamicus, qui <br>
                            sequitur mutationem consuetudium.
                            </p>
                            <a href="">Read More <i class="fas fa-caret-right icon-caret"></i></a>
                        </div>
                        
                    </div>
                </div>
                <div class="item post__box">                   
                    <div class="block__post">
                        <div class="post__img">
                            <img src="../../www/img/section-recent-posts/photo_8.png" alt="">
                        </div>
                        <div class="post__data">
                            <p>30</p>
                            <div>Sep.</div>
                        </div>
                        <div class="post__text__box">
                            <h3>Lorem ipsum dolor sit amet</h3>                   
                            <p>Claritas est etiam processus dynamicus, qui <br>
                                sequitur mutationem consuetudium.
                            </p>
                            <a href="">Read More <i class="fas fa-caret-right icon-caret"></i></a>
                        </div>                            
                    </div>
                    <div class="block__post">
                        <div class="post__img">
                         <img src="../../www/img/section-recent-posts/photo9.png" alt="">
                        </div>
                        <div class="post__data">
                            <p>30</p>
                            <div>Sep.</div>
                         </div>
                        <div class="post__text__box">
                            <h3>Lorem ipsum dolor sit amet</h3>                   
                            <p>Claritas est etiam processus dynamicus, qui <br>
                                sequitur mutationem consuetudium.
                            </p>
                            <a href="">Read More <i class="fas fa-caret-right icon-caret"></i></a>
                        </div>                        
                    </div>
                    <div class="block__post">
                        <div class="post__img">
                         <img src="../../www/img/section-recent-posts/photo10.png" alt="">
                        </div>
                        <div class="post__data">
                            <p>30</p>
                            <div>Sep.</div>
                        </div>
                        <div class="post__text__box">
                            <h3>Lorem ipsum dolor sit amet</h3>                   
                            <p>Claritas est etiam processus dynamicus, qui <br>
                                sequitur mutationem consuetudium.
                            </p>
                            <a href="">Read More <i class="fas fa-caret-right icon-caret"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>