<section>
    <div class="video__images-bg">
        <div class="video__bg-color">
            <div class="container">
                <div class="video__block-text">
                    <div class="video__icon-bg"><div class="video__icon">&#9654;</div></div>
                    <h3>Waxom Video Presentation</h3>
                    <p>
                        Investigationes demonstraverunt lectores legere me lius quod ii legunt <br>
                        saepius, qui sequitur mutationem consuetudium.
                    </p>    
                    <div class="video__time">03:26</div>
                </div>
            </div>
        </div>
    </div>
</section>