<section>
    <div class="partners__bg-img">
        <div class="partners__bg-color">
            <div class="container">
                <div class="owl-carousel owl-theme posts__item__box slider__three">
                    <div class="item partners__img">
                        <img src="../../www/img/section-partners/logo-01.png" alt="">
                        <img src="../../www/img/section-partners/logo-02.png" alt="">
                        <img src="../../www/img/section-partners/logo-03.png" alt="">
                        <img src="../../www/img/section-partners/logo-04.png" alt="">
                    </div>
                    <div class="item partners__img">
                        <img src="../../www/img/section-partners/logo-01.png" alt="">
                        <img src="../../www/img/section-partners/logo-02.png" alt="">
                        <img src="../../www/img/section-partners/logo-03.png" alt="">
                        <img src="../../www/img/section-partners/logo-04.png" alt="">
                    </div>
            </div>
            </div>
        </div>
    </div>
</section>