<section>
    <div class="container">
        <div class="prodject__box">
            <h3>Our Latest Projects.</h3>
            <p>Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam <br> 
                processus dynamicus, qui sequitur mutationem consuetudium.</p>
            <ul class="prodject__btn-menu">
                <li><a href="">All</a></li>
                <li><a href="">Web Design</a></li>
                <li><a href="">Mobile App</a></li>
                <li><a href="">Illustration</a></li>
                <li><a href="">Photography</a></li>
            </ul>
            <div class="gallery__box">
                <div class="block__gallery">
                    <div class="block__gallery__block">
                        <div class="block__img">
                            <img src="../../www/img/section-last-project/photo1.png" alt="">                                  
                        </div>
                        <div class="block__icon">
                            <i class="fas fa-link link-icon"></i>
                            <i class="fab fa-sistrix magnifier-icon"></i>
                        </div>
                        <div class="block__text__box">
                            <i class="fas fa-sort-up sort-icon"></i>
                            <h3>Claritas Etiam Processus</h3>                   
                            <p>Photography, Nature</p>                        
                        </div>    
                    </div>                

                    <div class="block__gallery__block">
                        <div class="block__img">
                            <img src="../../www/img/section-last-project/photo2.png" alt="">                                  
                        </div>
                        <div class="block__icon">
                            <i class="fas fa-link link-icon"></i>
                            <i class="fab fa-sistrix magnifier-icon"></i>
                        </div>
                        <div class="block__text__box">
                            <i class="fas fa-sort-up sort-icon"></i>
                            <h3>Claritas Etiam Processus</h3>                   
                            <p>Photography, Nature</p>                        
                        </div>    
                    </div>               

                    <div class="block__gallery__block">
                        <div class="block__img">
                            <img src="../../www/img/section-last-project/photo3.png" alt="">                                  
                        </div>
                        <div class="block__icon">
                            <i class="fas fa-link link-icon"></i>
                            <i class="fab fa-sistrix magnifier-icon"></i>
                        </div>
                        <div class="block__text__box">
                            <i class="fas fa-sort-up sort-icon"></i>
                            <h3>Claritas Etiam Processus</h3>                   
                            <p>Photography, Nature</p>                        
                        </div>    
                    </div>                   
                </div>
                
                <div class="block__gallery">
                    <div class="block__gallery__block">
                        <div class="block__img">
                            <img src="../../www/img/section-last-project/photo4.png" alt="">                                  
                        </div>
                        <div class="block__icon">
                            <i class="fas fa-link link-icon"></i>
                            <i class="fab fa-sistrix magnifier-icon"></i>
                        </div>
                        <div class="block__text__box">
                            <i class="fas fa-sort-up sort-icon"></i>
                            <h3>Claritas Etiam Processus</h3>                   
                            <p>Photography, Nature</p>                        
                        </div>    
                    </div>                    

                    <div class="block__gallery__block">
                        <div class="block__img">
                            <img src="../../www/img/section-last-project/photo5.png" alt="">                                  
                        </div>
                        <div class="block__icon">
                            <i class="fas fa-link link-icon"></i>
                            <i class="fab fa-sistrix magnifier-icon"></i>
                        </div>
                        <div class="block__text__box">
                            <i class="fas fa-sort-up sort-icon"></i>
                            <h3>Claritas Etiam Processus</h3>                   
                            <p>Photography, Nature</p>                        
                        </div>    
                    </div>
                    <div class="block__gallery__block">
                        <div class="block__img">
                            <img src="../../www/img/section-last-project/photo6.png" alt="">                                  
                        </div>
                        <div class="block__icon">
                            <i class="fas fa-link link-icon"></i>
                            <i class="fab fa-sistrix magnifier-icon"></i>
                        </div>
                        <div class="block__text__box">
                            <i class="fas fa-sort-up sort-icon"></i>
                            <h3>Claritas Etiam Processus</h3>                   
                            <p>Photography, Nature</p>                        
                        </div>    
                    </div>                    
                </div>
            </div>
            <a href="" class="prodject__btn-load">LOAD MORE</a>
        </div>        
    </div>
</section>