<section>
    <div class="counters__bg-color">
        <div class="container">
            <div class="counters__block">
                <div class="counters__box">
                    <i class="far fa-user counters__icon"></i>
                    <h3>3587</h3>
                    <p>Satisfied Clients</p>
                    <div class="counters__line">&#8212;</div>
                </div>
                <div class="counters__box">
                    <i class="fas fa-mug-hot counters__icon"></i>
                    <h3>207</h3>
                    <p>Cups of coffee</p>
                    <div class="counters__line">&#8212;</div>
                </div>
                <!-- spincrement сделать прокрутку -->
                <div class="counters__box">
                    <i class="far fa-comment counters__icon"></i>
                    <h3>2500</h3>
                    <p>Blog posts</p>
                    <div class="counters__line">&#8212;</div>
                </div>
                <div class="counters__box">
                    <i class="far fa-heart counters__icon"></i>
                    <h3>873</h3>
                    <p>Likes</p>
                    <div class="counters__line">&#8212;</div>
                </div>
                <div class="counters__box">
                    <i class="fas fa-concierge-bell counters__icon"></i>
                    <h3>900</h3>
                    <p>We launched</p>
                    <div class="counters__line">&#8212;</div>
                </div>
            </div>
        </div>
    </div>
</section>