<section>
    <div class="wordpress__bg-color">
        <div class="container">
            <div class="wordpress__block">
                <div class="wordpress__text-box">
                    <h3><span>Waxom</span> Multipurpose WordPress Theme</h3>
                    <p>Don't Forget to Rate the Template. Thanks so much!</p>
                </div>
                <div class="wordpress__btn">
                    <a href="">PURCHASE NOW</a>
                </div>
            </div>
        </div>
    </div>
</section>