<header>
    <div class="container">
     <div class="header__box">
         <div class="header__logo">
             <img src="../../www/img/header-logo/logos.png" alt="">
             <h1>Waxom</h1>
         </div>
         <div class="main">
             <nav class="main__box" id="main__block">
                 <ul class="main__list">
                     <li><a href="">Home</a></li>
                     <li><a href="">About us</a></li>
                     <li><a href="">Portfolio</a></li>
                     <li><a href="">Features</a></li>
                     <li><a href="">Blog</a></li>
                     <li><a href="">Pricing</a></li>
                     <li><a href="">Shortcodes</a></li>
                     <li><a href="">Contact</a></li>
                 </ul>
             </nav>
         </div>
         <div class="main__media__tablet-phone">
             <div class="burger">
                <i class="fas fa-bars burger-icon"></i>
                 <nav class="tablet-phone" id="main__block">
                     <i class="fas fa-times clouse-icon"></i>
                     <ul class="main__list-tablet-phone">
                         <li><a href="">Home</a></li>
                         <li><a href="">About us</a></li>
                         <li><a href="">Portfolio</a></li>
                         <li><a href="">Features</a></li>
                         <li><a href="">Blog</a></li>
                         <li><a href="">Pricing</a></li>
                         <li><a href="">Shortcodes</a></li>
                         <li><a href="">Contact</a></li>
                     </ul>
                 </nav>
             </div>
         </div>
         <div class="header__icon">
             <img src="../../www/img/header-logo/icon-cart.png" alt="">
             <img src="../../www/img/header-logo/icon-search.png" alt="">
         </div>
     </div> 
     <div class="slogan__text-box">
         <h2>Unique and Modern Design</h2>
         <h3>Portfolio PSD Template</h3>
         <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imper-<br>
             diet doming id quod mazim placerat facer possim assum.</p>
         <a href="">GET STARTED</a>
     </div>
 </div>      
     <div class="owl-carousel owl-theme slider__item__box slider__one">
         <div class="item">
             <div class="slider__bg-color"></div>
             <img src="../../www/img/header-logo/bg_photo.jpg" alt="">
         </div>
         <div class="item">
             <div class="slider__bg-color"></div>
             <img src="../../www/img/header-logo/bg_photo.jpg" alt="">
         </div>
         <div class="item">
             <div class="slider__bg-color"></div>
             <img src="../../www/img/header-logo/bg_photo.jpg" alt="">
         </div>
         
     </div>
 </header>