/* Montserrat */
@font-face {
	font-family: 'Montserrat Bold';
	src: url('fonts/Montserrat/Montserrat-Bold/fonts/montserrat_bold.eot'); /* IE 9 Compatibility Mode */
	src: url('fonts/Montserrat/Montserrat-Bold/fonts/montserrat_bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('fonts/Montserrat/Montserrat-Bold/fonts/montserrat_bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('fonts/Montserrat/Montserrat-Bold/fonts/montserrat_bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('fonts/Montserrat/Montserrat-Bold/fonts/montserrat_bold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('fonts/Montserrat/Montserrat-Bold/fonts/montserrat_bold.svg#montserrat_bold') format('svg'); /* Chrome < 4, Legacy iOS */
}
@font-face {
	font-family: 'Montserrat Italic';
	src: url('fonts/Montserrat/Montserrat-Italic/fonts/montserrat_italic.eot'); /* IE 9 Compatibility Mode */
	src: url('fonts/Montserrat/Montserrat-Italic/fonts/montserrat_italic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('fonts/Montserrat/Montserrat-Italic/fonts/montserrat_italic.woff2') format('woff2'), /* Super Modern Browsers */
		url('fonts/Montserrat/Montserrat-Italic/fonts/montserrat_italic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('fonts/Montserrat/Montserrat-Italic/fonts/montserrat_italic.ttf') format('truetype'), /* Safari, Android, iOS */
		url('fonts/Montserrat/Montserrat-Italic/fonts/montserrat_italic.svg#montserrat_italic') format('svg'); /* Chrome < 4, Legacy iOS */
}
@font-face {
	font-family: 'Montserrat Light';
	src: url('fonts/Montserrat/Montserrat-Light/fonts/montserrat_light.eot'); /* IE 9 Compatibility Mode */
	src: url('fonts/Montserrat/Montserrat-Light/fonts/montserrat_light.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('fonts/Montserrat/Montserrat-Light/fonts/montserrat_light.woff2') format('woff2'), /* Super Modern Browsers */
		url('fonts/Montserrat/Montserrat-Light/fonts/montserrat_light.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('fonts/Montserrat/Montserrat-Light/fonts/montserrat_light.ttf') format('truetype'), /* Safari, Android, iOS */
		url('fonts/Montserrat/Montserrat-Light/fonts/montserrat_light.svg#montserrat_light') format('svg'); /* Chrome < 4, Legacy iOS */
}
@font-face {
	font-family: 'Montserrat Medium';
	src: url('fonts/Montserrat/Montserrat-Medium/fonts/montserrat_medium.eot'); /* IE 9 Compatibility Mode */
	src: url('fonts/Montserrat/Montserrat-Medium/fonts/montserrat_medium.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('fonts/Montserrat/Montserrat-Medium/fonts/montserrat_medium.woff2') format('woff2'), /* Super Modern Browsers */
		url('fonts/Montserrat/Montserrat-Medium/fonts/montserrat_medium.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('fonts/Montserrat/Montserrat-Medium/fonts/montserrat_medium.ttf') format('truetype'), /* Safari, Android, iOS */
		url('fonts/Montserrat/Montserrat-Medium/fonts/montserrat_medium.svg#montserrat_medium') format('svg'); /* Chrome < 4, Legacy iOS */
}
@font-face {
	font-family: 'Montserrat Regular';
	src: url('fonts/Montserrat/Montserrat-Regular/fonts/montserrat_regular.eot'); /* IE 9 Compatibility Mode */
	src: url('fonts/Montserrat/Montserrat-Regular/fonts/montserrat_regular.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('fonts/Montserrat/Montserrat-Regular/fonts/montserrat_regular.woff2') format('woff2'), /* Super Modern Browsers */
		url('fonts/Montserrat/Montserrat-Regular/fonts/montserrat_regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('fonts/Montserrat/Montserrat-Regular/fonts/montserrat_regular.ttf') format('truetype'), /* Safari, Android, iOS */
		url('fonts/Montserrat/Montserrat-Regular/fonts/montserrat_regular.svg#montserrat_regular') format('svg'); /* Chrome < 4, Legacy iOS */
}
@font-face {
	font-family: 'Montserrat ExtraLight';
	src: url('fonts/Montserrat/MontserratExtraLight/fonts/montserrat_extralight.eot'); /* IE 9 Compatibility Mode */
	src: url('fonts/Montserrat/MontserratExtraLight/fonts/montserrat_extralight.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('fonts/Montserrat/MontserratExtraLight/fonts/montserrat_extralight.woff2') format('woff2'), /* Super Modern Browsers */
		url('fonts/Montserrat/MontserratExtraLight/fonts/montserrat_extralight.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('fonts/Montserrat/MontserratExtraLight/fonts/montserrat_extralight.ttf') format('truetype'), /* Safari, Android, iOS */
		url('fonts/Montserrat/MontserratExtraLight/fonts/montserrat_extralight.svg#montserrat_extralight') format('svg'); /* Chrome < 4, Legacy iOS */
}
/* Raleway */
@font-face {
	font-family: 'Raleway Regular';
	src: url('fonts/Raleway/Raleway Regular/fonts/raleway_regular.eot'); /* IE 9 Compatibility Mode */
	src: url('fonts/Raleway/Raleway Regular/fonts/raleway_regular.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('fonts/Raleway/Raleway Regular/fonts/raleway_regular.woff2') format('woff2'), /* Super Modern Browsers */
		url('fonts/Raleway/Raleway Regular/fonts/raleway_regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('fonts/Raleway/Raleway Regular/fonts/raleway_regular.ttf') format('truetype'), /* Safari, Android, iOS */
		url('fonts/Raleway/Raleway Regular/fonts/raleway_regular.svg#raleway_regular') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Raleway Medium';
	src: url('fonts/Raleway/Raleway Medium/fonts/raleway_medium.eot'); /* IE 9 Compatibility Mode */
	src: url('fonts/Raleway/Raleway Medium/fonts/raleway_medium.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('fonts/Raleway/Raleway Medium/fonts/raleway_medium.woff2') format('woff2'), /* Super Modern Browsers */
		url('fonts/Raleway/Raleway Medium/fonts/raleway_medium.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('fonts/Raleway/Raleway Medium/fonts/raleway_medium.ttf') format('truetype'), /* Safari, Android, iOS */
		url('fonts/Raleway/Raleway Medium/fonts/raleway_medium.svg#raleway_medium') format('svg'); /* Chrome < 4, Legacy iOS */
}
@font-face {
	font-family: 'Raleway ExtraBold';
	src: url('fonts/Raleway/Raleway ExtraBold/fonts/raleway_extrabold.eot'); /* IE 9 Compatibility Mode */
	src: url('fonts/Raleway/Raleway ExtraBold/fonts/raleway_extrabold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('fonts/Raleway/Raleway ExtraBold/fonts/raleway_extrabold.woff2') format('woff2'), /* Super Modern Browsers */
		url('fonts/Raleway/Raleway ExtraBold/fonts/raleway_extrabold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('fonts/Raleway/Raleway ExtraBold/fonts/raleway_extrabold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('fonts/Raleway/Raleway ExtraBold/fonts/raleway_extrabold.svg#raleway_extrabold') format('svg'); /* Chrome < 4, Legacy iOS */
}
@font-face {
	font-family: 'Raleway SemiBold';
	src: url('fonts/Raleway/Raleway SemiBold/fonts/raleway_semibold.eot'); /* IE 9 Compatibility Mode */
	src: url('fonts/Raleway/Raleway SemiBold/fonts/raleway_semibold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('fonts/Raleway/Raleway SemiBold/fonts/raleway_semibold.woff2') format('woff2'), /* Super Modern Browsers */
		url('fonts/Raleway/Raleway SemiBold/fonts/raleway_semibold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('fonts/Raleway/Raleway SemiBold/fonts/raleway_semibold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('fonts/Raleway/Raleway SemiBold/fonts/raleway_semibold.svg#raleway_semibold') format('svg'); /* Chrome < 4, Legacy iOS */
}
@font-face {
	font-family: 'Raleway Bold';
	src: url('fonts/Raleway/Raleway Bold/fonts/raleway_bold.eot'); /* IE 9 Compatibility Mode */
	src: url('fonts/Raleway/Raleway Bold/fonts/raleway_bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('fonts/Raleway/Raleway Bold/fonts/raleway_bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('fonts/Raleway/Raleway Bold/fonts/raleway_bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('fonts/Raleway/Raleway Bold/fonts/raleway_bold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('fonts/Raleway/Raleway Bold/fonts/raleway_bold.svg#raleway_bold') format('svg'); /* Chrome < 4, Legacy iOS */
}
/* Roboto Regular */
@font-face {
	font-family: 'Roboto Regular';
	src: url('fonts/Roboto/fonts/roboto_regular.eot'); /* IE 9 Compatibility Mode */
	src: url('fonts/Roboto/fonts/roboto_regular.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('fonts/Roboto/fonts/roboto_regular.woff2') format('woff2'), /* Super Modern Browsers */
		url('fonts/Roboto/fonts/roboto_regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('fonts/Roboto/fonts/roboto_regular.ttf') format('truetype'), /* Safari, Android, iOS */
		url('fonts/Roboto/fonts/roboto_regular.svg#roboto_regular') format('svg'); /* Chrome < 4, Legacy iOS */
}