<footer>
    <div class="footer__about-bg-color">
        <div class="container">
            <div class="about__footer">
                <div class="about__waxom">
                    <div class="about__logo">
                        <img src="../../www/img/footer/logos.png" alt="">
                        <h3>Waxom</h3>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, consec- <br>
                        tetuer adipiscing elit, sed diam <br>
                        nonummy nibh euismod tincidunt ut <br>
                        laoreet dolore magna aliquam erat <br>
                        volutpat. Ut wisi enim ad minim <br>
                        veniam, quis nostrud exerci suscipit <br>
                        lobortis claritatem. <br>
                    </p>
                    <a href="">Read More <i class="fas fa-caret-right icon-caret"></i></a>
                </div>
                <div class="recent__post">
                    <h3>Recent Posts</h3>                      
                        <p class="recent__text-color recent__text">
                            <span class="span__h-color">September 08, 2015</span><br>
                            Lorem ipsum dolor sit amet, consec- <br>
                            tetuer adipiscing elit
                        </p>                          
                        <hr>                            
                        <p class="recent__text-color recent__text">
                            <span class="span__h-color">September 08, 2015</span><br>
                            Diam nonummy nibh euismod tincid- <br>
                            unt ut laoreet dolore magna
                        </p>
                        <hr>
                        <p class="recent__text-color recent__text">
                            <span class="span__h-color">September 08, 2015</span><br>
                            Claritas est etiam processus dynamic- <br>
                            us, qui sequitur mutationem per seac- <br>
                            ula quarta decima
                        </p>
                </div>
                <div class="out__twitter">
                    <h3>Our Twitter</h3>
                   <div class="tweet__one">
                    <p>
                        <a href="">@Waxom</a> Cum soluta nobis eleifend <br>
                        option congue nihil imperdiet doming<br>
                        <span>3 mins ago</span>
                    </p>
                   </div>
                    <hr>
                    <div class="tweet__two">
                        <p>
                            Mirum est <a href="">#envato</a> notare quam littera <br>
                            gothica, quam nunc putamus parum <br>
                            anteposuerit litterarum<br>
                            <span>5 hours ago</span>
                        </p>
                    </div>
                    <hr>
                    <div class="tweet__thtee">
                        <p>
                            Soluta nobis option <a href="https://bit.ly/1Hniso7">bit.ly/1Hniso7</a><br>
                            <span>20 days ago</span>
                        </p>
                    </div>
                </div>
                <div class="dribbble__widget">
                    <h3>Dribbble Widget</h3>
                    <div class="dribbble__img">
                        <img src="../../www/img/footer/photo13.png" alt="">
                        <img src="../../www/img/footer/photo14.png" alt="">
                        <img src="../../www/img/footer/photo15.png" alt="">
                        <img src="../../www/img/footer/photo16.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright  -->
    <section>
        <div class="copyright__bg-color">
            <div class="container">
                <div class="copyright__block-text">
                    <ul>
                        <li>Copyright © 2020 <span class="copyright__waxom">Waxom</span></li>
                        <li><span class="stick">|</span></li>
                        <li><a href="">Privacy Policy</a></li>
                        <li><span class="stick">|</span></li>
                        <li><a href="">FAQ</a></li>
                        <li><span class="stick">|</span></li>
                        <li><a href="">Sup</a></li>
                    </ul>
                </div>
                <div class="designed__block-text">
                    <ul>
                        <li>Designed by <span class="designed__fire">ThemeFire</span></li>
                        <li><span class="stick">|</span></li>
                        <li>Only on <span class="designed__fire">Envato Market</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</footer>